<ul class="sg-colors">
		<li>
		<span id="colorPrimary" class="sg-swatch"></span>
		<span class="sg-label">
			$color-primary <br />
			{{colors.primary}}
		</span>
	</li>
	<li>
		<span id="colorSecondary" class="sg-swatch"></span>
		<span class="sg-label">
			$color-secondary <br />
			{{colors.secondary}}
		</span>
	</li>
	<li>
		<span id="colorText" class="sg-swatch"></span>
		<span class="sg-label">
			$color-text <br />
			{{colors.text}}
		</span>
	</li>
</ul>
