/* FONTS */
@font-face {
  font-family: 'VerlagLight';
  src: url('../fonts/Verlag-Light.otf');
}
@font-face {
  font-family: 'VerlagBlack';
  src: url('../fonts/Verlag-Black.otf');
}
@font-face {
  font-family: 'VerlagBook';
  src: url('../fonts/Verlag-Book.otf');
}
